// Fonts
$font-lato: 'Lato', sans-serif;
$font-size-h1: 15px;

// Colors
$color-h1: #005B81;
$color-white: #FFF;
$color-gray-light: #F5F5F7;
$color-gray-dark: #F0F0F3;

$indent: 20px;
$z-index: 10000;
$button-size: 30px;


#button-close{
    color: $color-h1;
    height: $button-size;
    position: fixed;
    right: 10px;
    top: 10px;
    width: $button-size;
    z-index: $z-index + 1; // on top of main sidebar

    &:hover {
        cursor: pointer;
    }

    img {
        height: 100%;
        width: 100%;
        opacity: 1.0;
    }

}

#outliner-sidebar-frame {

    background-color: $color-white;
    border: 1px solid $color-gray-dark;
    box-shadow: -2px 0px 10px $color-gray-dark;
    display: hidden;
    letter-spacing: normal;
    right: 0px;
    height: 100%;
    top: 0%;
    width: 300px;
    z-index: $z-index;
    position: fixed;
    overflow-y: scroll;


    #outliner-sidebar-contents {

        font-family: $font-lato;
        color: $color-h1;
        margin: 50px 10px 10px 10px;
        padding: 0px;

        h1 {
            font-size: $font-size-h1 * 1.00;
            color: lighten($color-h1, 0%);
            padding-left: $indent * 0;
        }
        h2 {
            font-size: $font-size-h1 * 0.90;
            color: lighten($color-h1, 5%);
            padding-left: $indent * 1;
        }
        h3 {
            font-size: $font-size-h1 * 0.80;
            color: lighten($color-h1, 10%);
            padding-left: $indent * 2;
        }
        h4 {
            font-size: $font-size-h1 * 0.70;
            color: lighten($color-h1, 15%);
            padding-left: $indent * 3;
        }
        h5 {
            font-size: $font-size-h1 * 0.60;
            color: lighten($color-h1, 20%);
            padding-left: $indent * 4;
        }
        h6 {
            font-size: $font-size-h1 * 0.50;
            color: lighten($color-h1, 25%);
            padding-left: $indent * 5;
        }

        h1, h2, h3, h4, h5, h6 {
            border: none;
            font-family: inherit;
            font-weight: normal;
            line-height: 1.3em;
            margin: 0 0 1.0em 0;

            &:hover, &:active {
                font-weight: bold;
            }

        }

        a {
            text-decoration: none;
            &:hover, &:active {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}

